.dashboard {
  margin-left: 50px; 
  padding: 20px;
  width: auto;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.stat {
  background: #EBF5FB;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 50%;
  text-align: center;
}

.charts {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.chart {
  background: #FDF2E9;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 45%;
}
/* Dashboard.css */
.dashboard {
padding: 20px;
}

.dashboard-header {
margin-bottom: 20px;
}

.stats {
display: flex;
justify-content: space-between;
}

.stat {
background: #EBDEF0;
padding: 20px;
border-radius: 8px;
width: 30%;
text-align: center;
}

.charts {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.chart {
background: #FDF2E9 ;
padding: 20px;
border-radius: 8px;
width: 45%;
}