.login-container {
  display: flex;
  height: 100vh;
}

.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex: 1;
  background-color: #333; /* You can set a background color if needed */
}

.logo h1 {
  font-size: 2.5rem;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  flex: 1;
}

.welcome-back {
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.brand {
  font-size: 2rem;
}

.highlight {
  color: #f39c12; /* Highlight color */
}

.signin-btn {
  width: 100%;
  margin-top: 10px;
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.google-signin-btn {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.google-signin-btn img {
  margin-right: 10px;
}

.divider {
  margin: 20px 0;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #ddd;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.signup-link {
  margin-top: 10px;
}
