* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.edit-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  color: #555;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.purchase-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  height: fit-content;
  margin-top: 10px;
}

.purchase-button:hover {
  background-color: #555;
}


.cancel-button {
  padding: 5px 10px; 
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px; 
}

.cancel-button:hover {
  background-color: darkred;
}

.low-stocks {
  padding: 20px;
  background-color: #f5f5f5;
  overflow: hidden; 
}

.low-stocks .table-container {
  overflow-x: auto; 
}

.low-stocks table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; 
}

.low-stocks table th,
.low-stocks table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  word-wrap: break-word; 
}

.low-stocks table th {
  background-color: #e0e0e0;
}


.low-stocks input[type="text"],
.low-stocks input[type="number"] {
  width: 100%;
  box-sizing: border-box;
}


.save-button {
  padding: 5px 10px; 
  font-size: 12px; 
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px; 
}

.save-button:hover {
  opacity: 0.8;
  background-color: #46e810;
}


.edit-mode .save-button,
.edit-mode .cancel-button {
  padding: 5px 10px;
  font-size: 12px;
}
