.navigation-panel {
  width: 250px; 
  height: auto; 
  position: fixed; 
  left: 0;
  background-color: #333;
  color: white;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.navigation-panel .logo {
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.navigation-panel nav {
  flex: 1;
}

.navigation-panel ul {
  list-style-type: none;
  padding: 0;
}

.navigation-panel ul li {
  margin: 10px 0;
}

.navigation-panel ul li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.navigation-panel ul li a:hover,
.navigation-panel ul li a.active {
  background-color: #575757;
  border-radius: 5px;
}

.navigation-panel ul li a .nav-icon {
  margin-right: 10px;
}

.navigation-panel .settings-help {
  margin-top: 50px;
}

.navigation-panel .settings-help a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.navigation-panel .settings-help a:hover {
  background-color: #575757;
  border-radius: 5px;
}
